include dash_tvlwc/dash_tvlwc.min.js
include dash_tvlwc/dash_tvlwc.min.js.map
include dash_tvlwc/async-*.js
include dash_tvlwc/async-*.js.map
include dash_tvlwc/*-shared.js
include dash_tvlwc/*-shared.js.map
include dash_tvlwc/metadata.json
include dash_tvlwc/package-info.json
include README.md
include LICENSE
include package.json
